.jumbotron {
    background-color: rgba(255, 190, 138, 1);
    color: black;
    margin-top: 50px;

}
.footer {
   padding: 10px 10px 0 10px;
   background-color: black;
   margin-bottom: 0px;
   font-size: 10px;
   margin-top: 10px;

}

.card-ceres {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
}

.btn-reserva {
  width: 100px;
  border-radius: 0px;
  left: 0;
  bottom: 0;
}

.footer-addres-icon {
  padding-right: 10 px
}
